h1 {
    color:#ff764d;
}
a:link {
    color: #1d88f2
}
a:visited {
    color: #bd6348;
}
a:hover {
    color: #8000ff;
    background-color: #9cbbbb;
}
body{
    background-color: #bddadb;
}
body {
    color: #000000
}
nav a:hover {background-color: #1d88f2}

nav { 
    padding: 10px;
    background-color: #f7beb2
}
nav{margin-bottom: 30px}

.quote {float:right}

.group1 {
    float: left 
}
.clear {clear: left;}
.group1 {display: flex;}
.group1 {padding: 20px;}
.group1, .group2 {margin: 10px;}
.group1 {flex: 1; order: 1; background-color: #ffffff; border-radius: 1em}
.group2 {flex: 2; order: 2; background-color: #ffffff; border-radius: 1em}
.group2 {padding: 20px;}
.group2 {display: flex;}

.mainimage {max-width: 100%;}


.box1, .box2 {flex: 1px;}

@media only screen and (max-width: 600px) {
    nav a {width: 100%}
    nav a {display: block;}
    span {display: none;}
}

h1 {
    font-size: 2em
}
body {
    font-size: 1em 
}
#skipbutton {
    position: absolute;
    left: -999px;
    background-color: white;
    border: 1px solid black; 
}
#skipbutton:focus {
    position: absolute;
    left: 10px;
}