div.text {
    text-align: center;
  }
  
.text {
    margin: 25px 200px 75px;
}

.text {
    background-color: #b4c8ce;
}

@media screen and (max-width: 600px) {
    text {
      margin: 25px 50px 25px;
    }
}