h1 {
    color:#e37b5b;
}
a:link {
    color: #1d88f2
}
a:visited {
    color: #e35b5b;
}
a:hover {
    color: #8000ff;
    background-color: #c7edfc;
}
body{
    background-color: #ceddde;
}
body {
    color: #ffffff
}
nav a:hover {background-color: #1d88f2}
